.About{
  &_about {
    width: 80%;
    margin-left: 10%;
  }

  &_traders {
    width: 70%;
    margin-left: 15%;

    @media screen and (max-width: 900px) {
      & div {
        &.row {
          display: grid !important;
        }
      }
    }
  }
}