.Download{

  @media screen and (max-width: 900px) {
    &_line10 {
      display: none;
    }
  }

  &_download {
    @media screen and (max-width: 900px) {
      & button {
        display: flex !important;
      }
    }
  }

  &_mission {
    width: 80%;
    margin-left: 10%;

    &_image {
      width: 100%;
      height: auto;
    }

    &_button {
      background-color: #FFFFFF;
      color: black;
      border: 1px solid gray;
      border-radius: 2rem;
      font-size: 15px;
    }
  }

  &_swiftTrade {
    width: 80%;
    margin-left: 10%;
  }

  &_phon {
    gap: 20px;

    & img {
      // width: 230px;
      height: 270px;
    }
  }

  &_pricing {
    width: 80%;
    margin-left: 10%;

    @media screen and (max-width: 900px) {
      & div {
        display: grid !important;

        & div {
          & div:nth-of-type(1) {
            display: flex !important;
          }

          & div {
            & div {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}