.Home {
  &_dashboard {
    height: 550px;
    margin-top: 10px;
    position: relative;

    &_BackImg {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
    }

    &_text-content {
      position: relative;
      background-color:  hsla(0, 0%, 0%, 0);
    }

    &_button-content {
      position: relative;
      display: flex;
      gap: 20px;

      & button {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 2rem;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 120%;
        color: #FFFFFF;
      }

      & button:nth-of-type(1) {
        background: rgba(255, 255, 255, 0.54)
      }
    }
  }

  &_what-swift {
    width: 80%;
    margin-left: 10%;
    &_content-buttons {
      & button:nth-of-type(1) {
        background: rgba(255, 255, 255, 0.54);
        border-radius: 2rem;
        font-weight: bold;
        background-color: #FFFFFF;
        font-size: 17px;
      }
      & button:nth-of-type(2) {
        background: rgba(255, 255, 255, 0);
        border-radius: 2rem;
        border: none;
        font-weight: bold;
        font-size: 17px;
        color: #FFFFFF;
      }
    }
  }

  &_getting-start {
    &_imgs {
      z-index: 0;
      position: absolute;
      left: 54%;
      height: 520px;
      width: 46%;
      background-color: #D4A0FF;

      & img {
        position: absolute;
      }

      & img:nth-of-type(1) {
        margin-top: 20px;
        right: -10px;
      }

      & img:nth-of-type(2) {
        margin-top: 330px;
        margin-left: 20px;
      }

      & img:nth-of-type(3) {
        margin-top: 100px;
        margin-left: 30%;
      }
    }

    &_content {
      position: absolute;
      color: black;
      height: 520px;
      width: 54%;
      margin-left: -10%;
      background-color: #D4A0FF;
      background-color: #FFFFFF;
      padding-top: 40px;
      padding-left: 10%;
      padding-right: 5%;

      & h1 {
        font-weight: bold;
      }

      & p {
        font-size: 17px;
      }

      &_buttons {
        & button:nth-of-type(1) {
          background-color: #FFFFFF;
          border-radius: 2rem;
          font-weight: bold;
          font-size: 15px;
        }

        & p {
          font-size: 15px;
        }
      }
    }
  }

  &_affiliate {
    width: 80%;
    margin-left: 10%;
    z-index: 1;
    background-color: #151515;
    margin-top: 50px;
    position: relative;

    &_cards {
      color: black;
      gap: 50px !important;

      &_button {
        display: flex;

        & button {
          border: none;
          background-color: #513C34;
          font-weight: bold;
          font-size: 17px;
          color: #FFFFFF;
        }
      }
    }
  }
  &_directions {
    &_cards {
      gap: 30px !important;

      & div {
        border-radius: 1rem;
        border: 0.2px solid rgb(158, 153, 153);
      }
    }
  }
}