.HowToStart{
  &_dashboard {
    & div {
      width: 59%;
      height: 250px;;

      @media screen and (max-width: 550px) {
        width: 90% !important;
        margin-left: 0% !important;
      }
    }

    &_BackImg {
      z-index: 0;
      margin-top: -13px !important;
      width: 620px;
      height: auto;
      // margin-left: 50%;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  }
  
  &_getting-start {
    gap: 0px;
    position: relative;
    background-color: #FFFF;

    &_backImg {
      @media screen and (max-width: 450px) {
        width: 100% !important;
      }
    }

    &_text {
      @media screen and (max-width: 1200px) {
        & p {
          text-align: center !important;
        }
        text-align: center !important;
        margin-top: 0!important;
        padding-top: 0!important;
      }
    }

    @media screen and (max-width: 990px) {

      display: grid !important;

      &_content {
        width: 100% !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      &_imgs {
        width: 100% !important;
      }
    }

    @media screen and (max-width: 550px) {
      &_content {
        padding-left: 7% !important;
        padding-right: 7% !important;
        
        & h1 {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        & h2 {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        & div {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &_content {
      width: 57%;
    }

    &_imgs {
      width: 43%;
      height: auto;
      background-color: #D4A0FF;
    }
  }

  &_pricing {
    width: 80%;
    margin-left: 10%;

    @media screen and (max-width: 400px) {
      width: 90%;
      margin-left: 5%;
    }

    @media screen and (min-width: 900px) {
      & div {
      }
    }

    @media screen and (max-width: 900px) {
      & div {
        display: grid !important;
        

        & div {
          & div:nth-of-type(1) {
            display: flex !important;
          }

          & div {
            & div {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}