.Header{
  color: #FFFFFF;
  background-color: #151515 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 80%;
  margin-left: 10%;

  &_logo-text {
    font-size: 25px;
  }

  &_navlink{
    font-size: 15px;
    &.download{
      background-color: rgba(255, 255, 255, 0.08);
      border-radius: 2rem;
    }
  }

  &_menu{
    gap: 25px !important;
  }
}