.Footer{
  margin-top: 150px !important;
  background-color: #000000;
  padding-left: 10%;
  padding-right: 10%;

  &_social-group {
    gap: 25px;
  }

  &_content {
    @media screen and (max-width: 1000px) {
      display: grid !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-top: 50px !important;
      & div {
        width: 100% !important;
        text-align: center !important;
      }

      & div:nth-of-type(2) {
        width: 100% !important;
        text-align: left !important;
      }
    }

    @media screen and (max-width: 600px) {
      margin-top: 80px !important;
      & div {
        width: 100% !important;
      }
    }
  }

  &_language-active {
    background-color: #4584FF;
  }

  &_subscribe {
    opacity: 0.6;
    margin-top: -50px;
    position: absolute;
    border-radius: 1rem;
    width: 70%;
    background: rgba(0, 0, 0, 0.5);
    left: 15%;

    @media screen and (max-width: 1100px) {
      display: grid !important;
      justify-content: center !important;
      text-align: center;
      margin-top: -80px;

      & div {
        width: 100% !important;
      }

      & div:nth-of-type(2) {
        & div {
          justify-content: center !important;
        }
      }
    }

    @media screen and (max-width: 1300px) {
      width: 95% !important;
      left: 0 !important;
      margin-left: 2.5% !important;
    }

    // & div:nth-of-type(1) {
    //   width: 120%;
    // }
  }

  &_email_form {
    & input {
      border: 1px solid gray;
      font-size: 12px;
      color: #FFFF;
      background: none;
      background-color: rgh(0, 0, 0, 0);
      border-radius: 5px;
    }

    & button {
      background-color: #FFFF;
      font-size: 12px;
      border: none;
      border-radius: 5px;
    }
  }
}